@import '../../base_styles/01_settings/settings';
@import '../../base_styles/02_tools/tools';
@import '../../base_styles/07_utilities/utilities';

.home {
	h1 {
		@include media(tablet-up) {
			@include columns(12);
		}

		font-weight: 200;
	}

	> section {
		@include media(tablet-up) {
			@include columns(12);
		}

		margin-bottom: rem(40px);
		outline: none; //1px solid $grey;
		position: relative;

		.carousel {
			margin: 0;
			padding: 0;

			img {
				width: 100%;
			}
		}

		//hero-banner container
		&.hero-banner {
			margin-top: rem(20px);

			figure {
				// position: relative;

				figcaption {
					@include media(tablet-landscape) {
						min-height: 65%;
						position: absolute;
						top: 15%;
					}

					@include media(tablet) {
						height: auto;
						min-height: 65%;
						padding: 15px 15px 25px;
						position: absolute;
						right: 6%;
						top: 15%;
						width: 29%;
					}

					@include media(desktop) {
						height: auto;
						min-height: 300px;
						padding: 15px 15px 25px;
						position: absolute;
						right: 6%;
						top: 23%;
						width: 29%;
					}

					background-color: rgb(8, 137, 141);
					color: #fff;
					padding: rem(15px) rem(15px) rem(30px);
					text-align: center;

					h1 {
						@include media(desktop) {
							font-size: 1.7rem;
						}

						font-size: 1rem;
					}

					a {
						@include media(desktop) {
							font-size: 1rem;
						}

						border: 1px solid #fff;
						color: inherit;
						font-size: 0.7rem;
						padding: 8px;
						text-decoration: none;
						text-transform: uppercase;
					}

					p {
						@include media(desktop) {
							font-size: 0.8rem;
						}
						font-size: 0.6rem;
						text-transform: uppercase;
					}
				}
			}
		}

		&.living-spaces-1 {
			@include media(tablet) {
				@include columns(8);

				figure {
					figcaption {
						h1 {
							font-size: 1.2rem;
						}
					}
				}
			}

			@include media(desktop) {
				@include columns(8);

				figure {
					display: flex;
					flex: 1 0;
					flex-flow: column;

					img {
						flex: 1 0;
					}

					figcaption {
						flex: 1 0;
						padding: 15px 15px 40px;

						p {
							font-size: 0.8rem;
						}

						h1 {
							font-size: 1.7rem;
						}

						a {
							font-size: 1rem;
						}
					}
				}
			}

			//for mobile
			figcaption {
				background-color: rgb(8, 137, 141);
				color: #fff;
				padding: rem(15px) rem(15px) rem(30px);
				text-align: center;

				h1 {
					font-size: 1rem;
				}

				a {
					border: 1px solid #fff;
					color: inherit;
					font-size: 0.7rem;
					padding: 8px;
					text-decoration: none;
					text-transform: uppercase;
				}

				p {
					font-size: 0.6rem;

					&:nth-child(1) {
						text-transform: uppercase;
					}
				}
			}
		}

		&.living-spaces-2 {
			@include media(tablet-up) {
				@include columns(4);
			}

			figure {
				display: flex;
				flex: 1 0;
				flex-flow: column nowrap;

				img {
					flex: 1 0;
				}
			}
		}

		//best-seller-container
		&.best-seller {
			@include media(tablet-up) {
				@include columns(12);
			}

			display: flex;
			flex-flow: row wrap;

			h1 {
				text-align: center;
			}

			figure {
				@include media(tablet-up) {
					@include columns(5);

					flex: 1 0;
					width: calc(100% / 5);

					img {
						@include media(tablet) {
							width: 97%;
						}

						width: auto;
					}

					figcaption {
						background-color: transparent;
						color: #000;

						a,
						p {
							font-size: rem(12px);
							font-weight: 600;
							padding: 0;
						}

						p {
							font-weight: 400;
						}
					}
				}

				//for mobile
				margin-bottom: 15px;

				figcaption {
					a {
						color: #000;
						font-weight: 600;
						text-decoration: none;
					}

					p > del {
						color: #808080;
					}
				}
			}
		}

		//picture-this container
		&.picture-this {
			@include media(tablet-up) {
				@include columns(12);
			}

			text-align: center;

			p {
				margin-left: auto;
				margin-right: auto;
				width: calc(100% - 20px);

				&:nth-child(3) {
					font-size: rem(12px);
					font-weight: 600;
				}
			}

			.owl-prev {
				@include media(tablet-up) {
					@include media(tablet) {
						top: 30%;
					}

					left: 3%;
					top: 40%;
				}

				left: 4%;
				position: absolute;
				top: 22%;

				span {
					font-size: 5rem;
				}
			}

			.owl-next {
				@include media(tablet-up) {
					@include media(tablet) {
						top: 30%;
					}
					right: 3%;
					top: 40%;
				}

				position: absolute;
				right: 4%;
				top: 22%;

				span {
					font-size: 5rem;
				}
			}

			.owl-lazy {
				padding: 10px;
			}
		}

		&:nth-child(7) {
			@include media(tablet-up) {
				@include columns(4);
			}
		}

		figure {
			margin: 0;
			position: relative;
			width: 100%;

			img {
				width: 100%;
			}

			figcaption {
				padding: 15px 15px 25px;
			}
		}
	}

	.single {
		@include columns(4, single);

		color: $red;

		&::after {
			content: 'testy';
		}
	}

	.after-single {
		@include columns(7, single);

		color: $red;

		&::after {
			content: 'testy';
		}
	}

	.carousel1 {
		li {
			list-style: none;
			margin: 0;
			min-height: auto;
			padding: 0;

			img {
				height: auto;
			}
		}
	}
}

// /**
//  * Owl Carousel v2.3.3
//  * Copyright 2013-2018 David Deutsch
//  * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
//  */
// /*
//  *  Owl Carousel - Core
//  */
// .owl-carousel {
// 	display: none;
// 	width: 100%;
// 	-webkit-tap-highlight-color: transparent;
// 	/* position relative and z-index fix webkit rendering fonts issue */
// 	position: relative;
// 	z-index: 1;
// }
// .owl-carousel .owl-stage {
// 	position: relative;
// 	-ms-touch-action: pan-Y;
// 	touch-action: manipulation;
// 	-moz-backface-visibility: hidden;
// 	/* fix firefox animation glitch */
// }
// .owl-carousel .owl-stage:after {
// 	content: '.';
// 	display: block;
// 	clear: both;
// 	visibility: hidden;
// 	line-height: 0;
// 	height: 0;
// }
// .owl-carousel .owl-stage-outer {
// 	position: relative;
// 	overflow: hidden;
// 	/* fix for flashing background */
// 	-webkit-transform: translate3d(0px, 0px, 0px);
// }
// .owl-carousel .owl-wrapper,
// .owl-carousel .owl-item {
// 	-webkit-backface-visibility: hidden;
// 	-moz-backface-visibility: hidden;
// 	-ms-backface-visibility: hidden;
// 	-webkit-transform: translate3d(0, 0, 0);
// 	-moz-transform: translate3d(0, 0, 0);
// 	-ms-transform: translate3d(0, 0, 0);
// }
// .owl-carousel .owl-item {
// 	position: relative;
// 	min-height: 1px;
// 	float: left;
// 	-webkit-backface-visibility: hidden;
// 	-webkit-tap-highlight-color: transparent;
// 	-webkit-touch-callout: none;
// }
// .owl-carousel .owl-item img {
// 	display: block;
// 	width: 100%;
// }
// .owl-carousel .owl-nav.disabled,
// .owl-carousel .owl-dots.disabled {
// 	display: none;
// }
// .owl-carousel .owl-nav .owl-prev,
// .owl-carousel .owl-nav .owl-next,
// .owl-carousel .owl-dot {
// 	cursor: pointer;
// 	-webkit-user-select: none;
// 	-khtml-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;
// }
// .owl-carousel .owl-nav button.owl-prev,
// .owl-carousel .owl-nav button.owl-next,
// .owl-carousel button.owl-dot {
// 	background: none;
// 	color: inherit;
// 	border: none;
// 	padding: 0 !important;
// 	font: inherit;
// }
// .owl-carousel.owl-loaded {
// 	display: block;
// }
// .owl-carousel.owl-loading {
// 	opacity: 0;
// 	display: block;
// }
// .owl-carousel.owl-hidden {
// 	opacity: 0;
// }
// .owl-carousel.owl-refresh .owl-item {
// 	visibility: hidden;
// }
// .owl-carousel.owl-drag .owl-item {
// 	-ms-touch-action: none;
// 	touch-action: none;
// 	-webkit-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;
// }
// .owl-carousel.owl-grab {
// 	cursor: move;
// 	cursor: grab;
// }
// .owl-carousel.owl-rtl {
// 	direction: rtl;
// }
// .owl-carousel.owl-rtl .owl-item {
// 	float: right;
// }

// /* No Js */
// .no-js .owl-carousel {
// 	display: block;
// }

// /*
//  *  Owl Carousel - Animate Plugin
//  */
// .owl-carousel .animated {
// 	animation-duration: 1000ms;
// 	animation-fill-mode: both;
// }

// .owl-carousel .owl-animated-in {
// 	z-index: 0;
// }

// .owl-carousel .owl-animated-out {
// 	z-index: 1;
// }

// .owl-carousel .fadeOut {
// 	animation-name: fadeOut;
// }

// @keyframes fadeOut {
// 	0% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: 0;
// 	}
// }

// /*
//  * 	Owl Carousel - Auto Height Plugin
//  */
// .owl-height {
// 	transition: height 500ms ease-in-out;
// }

// /*
//  * 	Owl Carousel - Lazy Load Plugin
//  */
// .owl-carousel .owl-item .owl-lazy {
// 	opacity: 0;
// 	transition: opacity 400ms ease;
// }

// .owl-carousel .owl-item img.owl-lazy {
// 	transform-style: preserve-3d;
// }

// /*
//  * 	Owl Carousel - Video Plugin
//  */
// .owl-carousel .owl-video-wrapper {
// 	position: relative;
// 	height: 100%;
// 	background: #000;
// }

// .owl-carousel .owl-video-play-icon:hover {
// 	-ms-transform: scale(1.3, 1.3);
// 	transform: scale(1.3, 1.3);
// }

// .owl-carousel .owl-video-playing .owl-video-tn,
// .owl-carousel .owl-video-playing .owl-video-play-icon {
// 	display: none;
// }

// .owl-carousel .owl-video-tn {
// 	opacity: 0;
// 	height: 100%;
// 	background-position: center center;
// 	background-repeat: no-repeat;
// 	background-size: contain;
// 	transition: opacity 400ms ease;
// }

// .owl-carousel .owl-video-frame {
// 	position: relative;
// 	z-index: 1;
// 	height: 100%;
// 	width: 100%;
// }
